# Gradle and Android build artifacts
/.gradle/
/build/
/app/build/generated
/app/build/intermediates
/app/build/tmp
/app/release/

# Local machine configuration
/local.properties

# IDE local state
/.idea/workspace.xml
/.idea/deploymentTargetSelector.xml

